
.card-back {
    background: url('../utils/cardBack.png');
    background-size: 100%;
  }
  
  .card-back-horizontal {
    background: url('../utils/cardBackHor.png');
    background-size: 100%;
  }
  
  .card-md {
    transform: scale(0.7);
    margin-bottom: 50px;
  }